# Dependencias de Node.js y Carpetas de Construcción
# --------------------------------------------------
node_modules
/dist
/dist-ssr
/build
/out
.cache

# Logs y Archivos de Depuración
# -----------------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Archivos de Entorno y Secretos (CRUCIAL)
# ----------------------------------------
.env
.env.local
.env.*.local
*.local
.secrets

# Carpetas y Archivos del Editor/OS
# ---------------------------------
.vscode/*
!.vscode/extensions.json  # Mantener extensiones
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# Carpetas de Proveedores de Hosting/Despliegue
# ---------------------------------------------
.netlify  # Carpeta de Netlify
.vercel  # Carpeta de Vercel (si usas Vercel)
